{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- THIS IS THE TOP NAVIGATION BAR SECTION -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand"> CYNCH </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">

            <li>
              <a href="../help/">Help</a>
            </li>
            <li>
              <a href="../lel/">Saved Quotes</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
<!-- HERE ENDS THE TOP NAVIGATION BAR SECTION -->
<div class="jumbo2">
<div class="container">
<div class="col-md-6 col-md-offset-3">

<div class="page-header" id="banner">
  <div class="row">
<!--   <div class="panel panel-default">
  <div class="panel-heading">
  <h2> Find your best cover </h2>
  <h4> Enter your details here </h4>
  </div>
  </div> -->
  </div>
  </div>
</div>
</div>

<div class="container">

<!-- THIS ROW IS FOR PERSONAL DETAIL SUMMARY + 2 QUOTE ROWS-->
<div class="row">

<!-- COL 1 -->
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel-heading"> Your Details </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/doge.jpeg' %}" width="180" height="180">
  </div>
  </div>
  <table class="table">
  <tr><td>Bob Roberts</td><td> Age: 55 </td></tr>
  <tr><td>Glebe</td><td> Sydney, Australia </td></tr>
  </table>

  <div class="text-center">
  <span style="font-size:3em;"><div class="btn btn-primary">VRF844</div></span>
  </div>
  <br/>
  </table>
  <div class="panel-footer"> Vehicle Details </div>
  <div class="panel-body">
  <table class="table table-hover">
  <tr><td>Make</td><td>Nissan</td></tr>
  <tr><td>Model</td><td>Micra</td></tr>
  <tr><td>Year</td><td>2007</td></tr>
  <tr><td>Body</td><td>3dr Hatch</td></tr>
  <tr><td>Fuel</td><td>Petrol</td></tr>
  <tr><td>Type</td><td>1.4L Sport</td></tr>
  </table>
  </div>
  </div>
  </div>
</div>


<!-- COL 2 -->
<div class="col-md-3">
  <div class="panel panel-primary">
  <div class="panel-heading"> SUNCORP</div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/Suncorp.jpg' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$460</span></td></tr>
  <tr><td>Cover Type</td><td><span class="badge">C</span></td></tr>
  </table>
  <table class="table">
  <div class="progress progress-striped">
    <div class="progress-bar progress-bar-success" style="width: 50%"></div>
    <div class="progress-bar progress-bar-warning" style="width: 16%"></div>
    <div class="progress-bar progress-bar-info" style="width: 16%"></div>
    <div class="progress-bar progress-bar-danger" style="width: 17%"></div>
  </div>
  </table>
  <table class="table">
  <tr><td>Windshield</td><td><span class="label label-warning">Inc</span></td></tr>
  <tr><td>Roadside Assist</td><td><span class="label label-info">Inc</span></td></tr>
  <tr><td>Fire & Theft</td><td><span class="label label-danger">Inc</span></td></tr>
  </table>
  </div>
  </div>

  <div class="panel panel-primary">
  <div class="panel-heading"> SHANNONS </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/Shannons-logo-small.jpg' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$610</span></td></tr>
  <tr><td>Cover Type</td><td><span class="badge">C+E</span></td></tr>
  </table>
  <table class="table">
  <div class="progress progress-striped">
    <div class="progress-bar progress-bar-success" style="width: 50%"></div>
    <div class="progress-bar progress-bar-warning" style="width: 25%"></div>
    <div class="progress-bar progress-bar-info" style="width: 25%"></div>
  </div>
  </table>
  <table class="table">
  <tr><td>Windshield</td><td><span class="label label-warning">Inc</span></td></tr>
  <tr><td>Gold Service</td><td><span class="label label-info">Inc</span></td></tr>
  </table>
  </div>
  </div>
</div>

<!-- COL 3 -->
<div class="col-md-3">
  <div class="panel panel-primary">
  <div class="panel-heading"> AAMI </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/aami3.png' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$380</span></td></tr>
  <tr><td>Cover Type</td><td><span class="badge">C</span></td></tr>
  </table>
  <table class="table">
  <div class="progress progress-striped">
    <div class="progress-bar progress-bar-success" style="width: 50%"></div>
    <div class="progress-bar progress-bar-warning" style="width: 10%"></div>
    <div class="progress-bar progress-bar-info" style="width: 30%"></div>
    <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
  </div>
  </table>
  <table class="table">
  <tr><td>Windshield</td><td><span class="label label-warning">Inc</span></td></tr>
  <tr><td>Roadside Assist</td><td><span class="label label-info">Inc</span></td></tr>
  <tr><td>No Claim Discount</td><td><span class="label label-danger">Inc</span></td></tr>
  </table>
  </div>
  </div>

  <div class="panel panel-primary">
  <div class="panel-heading"> BINGLE </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/bingle.jpg' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$270</span></td></tr>
  <tr><td>Cover Type</td><td><span class="badge">B</span></td></tr>
  </table>
  <table class="table">
  <div class="progress progress-striped">
    <div class="progress-bar progress-bar-success" style="width: 0%"></div>
    <div class="progress-bar progress-bar-primary" style="width: 100%"></div>
    <div class="progress-bar progress-bar-info" style="width: 0%"></div>
  </div>
  </table>
  <table class="table">
  <tr><td>-</td><td><span class="label label-warning"></span></td></tr>
  <tr><td>-</td><td><span class="label label-info"></span></td></tr>
  </table>
  </div>
  </div>
</div>

<!-- COL 4 -->
<div class="col-md-3">
  <div class="panel panel-primary">
  <div class="panel-heading"> GIO </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/GIO-logo.png' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$680</span></td></tr>
  <tr><td>Cover Type</td><td><span class="badge">CFT</span></td></tr>
  </table>
  <table class="table">
  <div class="progress progress-striped">
    <div class="progress-bar progress-bar-success" style="width: 50%"></div>
    <div class="progress-bar progress-bar-warning" style="width: 10%"></div>
    <div class="progress-bar progress-bar-info" style="width: 15%"></div>
    <div class="progress-bar progress-bar-danger" style="width: 25%"></div>
  </div>
  </table>
  <table class="table">
  <tr><td>Windshield</td><td><span class="label label-warning">Inc</span></td></tr>
  <tr><td>Roadside Assist </td><td><span class="label label-info">Inc</span></td></tr>
  <tr><td>Hire Car </td><td><span class="label label-danger">Inc</span></td></tr>
  </table>
  </div>
  </div>

  <div class="panel panel-primary">
  <div class="panel-heading"> APIA </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/APIA-logo.png' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$350</span></td></tr>
  <tr><td>Cover Type</td><td><span class="badge">CE</span></td></tr>
  </table>
  <table class="table">
  <div class="progress progress-striped">
    <div class="progress-bar progress-bar-success" style="width: 50%"></div>
    <div class="progress-bar progress-bar-info" style="width: 25%"></div>
    <div class="progress-bar progress-bar-primary" style="width: 25%"></div>
  </div>
  </table>
  <table class="table">
  <tr><td>Road Side Assist</td><td><span class="label label-warning"></span></td><td><span class="label label-info">Inc</span></td></tr>
  <tr><td>Policy Discount</td><td><span class="label label-info"></span></td><td><span class="label label-primary">Con*</span></td></tr>
  </table>
  </div>
  </div>
</div>



</div>



<!-- THIS ROW IS FOR THE LAST QUOTE ROW -->
<div class="row">
<!-- COLUMN1 -->
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel panel-heading"> NRMA </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/NRMA.png' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$340</span></td></tr>
  </table>
  </div>
</div>
</div>

<!-- COLUMN2 -->
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel panel-heading"> ALLIANZ </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/allianz_logo.png' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$400</span></td></tr>
  </table>
  </div>
</div>
</div>
<!-- COLUMN3 -->
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel panel-heading"> RACQ </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/RACQ_Logo.png' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$480</span></td></tr>
  </table>
  </div>
</div>
</div>
<!-- COLUMN4 -->
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel panel-heading"> YOUI</div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/youi.jpg' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$450</span></td></tr>
  </table>
  </div>
</div>
</div>




</div>
</div>

{% endblock %}