{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- THIS IS THE TOP NAVIGATION BAR SECTION -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand"> COOL NAME HERE </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
<!--             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">The Basics<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="Rank By">
                <li><a href="#">Premium</a></li>
                <li><a>Lorem Ipsum Dolor Est</a></li>
                <li class="divider"></li>
                <li><a href="#">Personal Effects</a></li>
                <li><a href="#">Accident Care Hire</a></li>
                <li><a href="#">Windshield & Windows</a></li>
                <li><a href="#">Roadside Assist</a></li>
                <li><a href="#">Unrestricted Drivers</a></li>
                <li><a href="#">Unrestricted Kilometers</a></li>
                <li><a href="#">No-Claim Rebate</a></li>
              </ul>
            </li> -->
<!--             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Extras<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="Rank By">
                <li><a href="../default/">Premium</a></li>
                <li class="divider"></li>
                <li><a href="#">Personal Effects</a></li>
                <li><a href="#">Accident Care Hire</a></li>
                <li><a href="#">Windshield & Windows</a></li>
                <li><a href="#">Roadside Assist</a></li>
                <li><a href="#">Unrestricted Drivers</a></li>
                <li><a href="#">Unrestricted Kilometers</a></li>
                <li><a href="#">No-Claim Rebate</a></li>
              </ul>
            </li> -->
            <li>
              <a href="../help/">Help</a>
            </li>
            <li>
              <a href="../lel/">Saved Quotes</a>
            </li>
<!--             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Sandstone <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="http://jsfiddle.net/bootswatch/m0nv7a0o/">Open Sandbox</a></li>
                <li class="divider"></li>
                <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
                <li><a href="./bootstrap.css">bootstrap.css</a></li>
                <li class="divider"></li>
                <li><a href="./variables.less">variables.less</a></li>
                <li><a href="./bootswatch.less">bootswatch.less</a></li>
                <li class="divider"></li>
                <li><a href="./_variables.scss">_variables.scss</a></li>
                <li><a href="./_bootswatch.scss">_bootswatch.scss</a></li>
              </ul>
            </li> -->
          </ul>

<!--           <ul class="nav navbar-nav navbar-right">
            <li><a href="#" target="_blank">Nothing to see here</a></li>
            <li><a href="#" target="_blank">Nope</a></li>
          </ul> -->

        </div>
      </div>
    </div>
<!-- HERE ENDS THE TOP NAVIGATION BAR SECTION -->
<div class="jumbotron">
<div class="container">
<div class="col-md-6 col-md-offset-3">

<div class="page-header" id="banner">
  <div class="row">
  <div class="panel panel-default">
  <div class="panel-heading">
  <h2> Find your best cover </h2>
  <h4> Enter your details here </h4>
 <!--  <div class="col-lg-8 col-md-7 col-sm-6">
    <h1>Find your best cover</h1>
    <p class="lead">Enter your details here</p>
  </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
    <div class="sponsor">
    <img src="{% static 'img/doge.jpeg' %}" alt="Shopify" width="180" height="180">
    </div>
    </div> -->
  </div>
  </div>
  </div>
  </div>
  </div>
</div>
</div>

<div class="container">
<div class="row">

<!-- COL 1 -->
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-body">
<h2> Basics </h2>
<p> so and so </p>
</div>
</div>
</div>


<!-- COL 2 -->
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-body">
<h2> Extras </h2>
<p> so and so </p>
</div>
</div>
</div>

<!-- COL 3 -->
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-body">
<h2> Discounts & Rebates </h2>
<p> so and so </p>
</div>
</div>
</div>

</div>
</div>







{% endblock %}