{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- THIS IS THE TOP NAVIGATION BAR SECTION -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand"> CYNCH </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">

            <li>
              <a href="../help/">Help</a>
            </li>
            <li>
              <a href="../lel/">Saved Quotes</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
<!-- HERE ENDS THE TOP NAVIGATION BAR SECTION -->
<div class="jumbo2">
<div class="container">
<div class="col-md-6 col-md-offset-3">

<div class="page-header" id="banner">
  <div class="row">
  </div>
  </div>
</div>
</div>

<div class="container">

<!-- THIS ROW IS FOR PERSONAL DETAIL SUMMARY + 2 QUOTE ROWS-->
<div class="row">

<!-- COL 1 -->
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel-heading">Detail Summary </div>
  <div class="panel-body">
  <table class="table table-hover">
  <tr><td>Driver Age: 55</td><td><span class="label label-primary">VRF844</span></td></tr>
  <tr><td>Make</td><td>Nissan</td></tr>
  <tr><td>Model</td><td>Micra</td></tr>
  <tr><td>Year</td><td>2007</td></tr>
  <tr><td>Body</td><td>3dr Hatch</td></tr>
  <tr><td>Fuel</td><td>Petrol</td></tr>
  <tr><td>Type</td><td>1.4L Sport</td></tr>
  </table>
  </div>
  </div>


  <div class="well well-lg">
  <div class="row">
  <div class="col-sm-6 text-primary">
  <input type="text" class="form-control text-primary" id="CustomerAge" placeholder="Email...">
  </div>
  <div class="col-sm-3  text-center">
  <a href="../results/" class="btn btn-info" role="button"><span style="font-size:1.2em;"class = "glyphicon glyphicon-envelope"></span></a>
  </div>
  <div class="col-sm-3 text-center">
  <a href="../fbresults/" class="btn btn-primary" role="button"> Fb </a>
  </div>
  </div>

  </div>

</div>



<!-- COL 2 -->
<div class="col-md-3">
  <div class="panel panel-info">
  <div class="panel panel-heading"> SUNCORP </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/Suncorp.jpg' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$450</span></td></tr>
  </table>
  </div>
  </div>

   <div class="panel panel-primary">
  <div class="panel panel-heading"> SHANNONS </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/Shannons-logo-small.jpg' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$610</span></td></tr>
  </table>
  </div>
  </div>
</div>

<!-- COL 3 -->
<div class="col-md-3">
  <div class="panel panel-info">
  <div class="panel panel-heading"> AAMI </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/aami3.png' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$380</span></td></tr>
  </table>
  </div>
  </div>

  <div class="panel panel-success">
  <div class="panel panel-heading"> BINGLE </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/bingle.jpg' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$270</span></td></tr>
  </table>
  </div>
  </div>
</div>

<!-- COL 4 -->
<div class="col-md-3">
  <div class="panel panel-primary">
  <div class="panel panel-heading"> GIO </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/GIO-logo.png' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$700</span></td></tr>
  </table>
  </div>
  </div>

  <div class="panel panel-success">
  <div class="panel panel-heading"> APIA</div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/APIA-logo.png' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$350</span></td></tr>
  </table>
  </div>
  </div>
</div>


</div>




<!-- THIS ROW IS FOR THE LAST QUOTE ROW -->
<div class="row">
<!-- COLUMN1 -->
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel panel-heading"> NRMA </div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/NRMA.png' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$450</span></td></tr>
  </table>
  </div>
  </div>
</div>

<!-- COLUMN2 -->
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel panel-heading"> ALLIANZ</div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/allianz_logo.png' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$430</span></td></tr>
  </table>
  </div>
  </div>
</div>
<!-- COLUMN3 -->
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel panel-heading"> RACQ</div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/RACQ_Logo.png' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$480</span></td></tr>
  </table>
  </div>
  </div>
</div>
<!-- COLUMN4 -->
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel panel-heading"> YOUI</div>
  <div class="panel-body">
  <div class="text-center">
  <div class="sponsor">
  <img src="{% static 'img/youi.jpg' %}" width="100" height="100" class="img-circle">
  </div>
  </div>
  <table class="table">
  <tr><td>Premium</td><td><span class="badge">$450</span></td></tr>
  </table>
  </div>
  </div>
</div>


</div>

</div>
</div>

{% endblock %}